/node_modules
/public/hot
/public/storage
/public/packages
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/tests
/config
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpinit.result.cache
/bootstrap/compiled.php
/app/config/packages
/app/tests/_log
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.swp
/tests
